<ion-view view-title="Detalhes - Mês">
  <ion-content>
    <ion-list>
    	<ion-item class="item item-divider"><b>{{year}} - {{month}}</b></ion-item>
      
      <!-- Colective Data -->
      <ion-item class="item item-divider item-balanced">Colectivo</ion-item>
      
      <div ng-repeat="colType in colective">
        <ion-item class="item item-divider">{{colType.percentage}}
          <span class="badge badge-balanced">Total: {{colType.total}}</span>
        </ion-item>
        <ion-item ng-repeat="entry in colType.entries">
          {{entry.value}}
          <span class="item-note">{{entry.description}}</span>
          <ion-option-button class="button-balanced">Dia {{entry.date}}</ion-option-button>
        </ion-item>
      </div>
  		
      <!-- Individual Data -->
      <ion-item class="item item-divider item-balanced">Individual</ion-item>
        
      <div ng-repeat="indType in individual">
        <ion-item class="item item-divider">{{indType.username}}
          <span class="badge badge-balanced">Total: {{indType.total}}</span>
        </ion-item>
        <ion-item ng-repeat="entry in indType.entries">
          {{entry.value}}
          <span class="item-note">{{entry.description}}</span>
          <ion-option-button class="button-balanced">Dia {{entry.date}}</ion-option-button>
        </ion-item>
      </div>

      <!-- Total Data -->
      <ion-item class="item item-divider item-balanced">Total</ion-item>
      <ion-item class="item item-divider" ng-repeat="user in totals">{{user.username}}: {{user.total}}</ion-item>

      <!-- Debt Data -->
      <!-- <ion-item class="item item-divider item-balanced">Débitos</ion-item>
      <ion-item class="item item-divider">Zé {{debtsZe}}</ion-item>
      <ion-item class="item item-divider">Susana {{debtsSusana}}</ion-item> -->

    </ion-list>
  </ion-content>
</ion-view>
