<ion-view view-title="Adicionar">
  <ion-content>
    <!-- inputs -->
    <div class="list padding">
      <!-- number -->
      <label class="item item-input">
        <input type="number" placeholder="Valor">
      </label>
      <!-- options -->
      <label class="item item-input item-select">
        <div class="input-label">Quem</div>
        <select ng-model="whoSelected">
          <option ng-repeat="person in who" ng-selected="whoSelected === person" value="{{person}}">{{person}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Despesa</div>
        <select ng-model="expensiveTypeSelected">
          <option ng-repeat="expType in expensiveTypes" ng-selected="expensiveTypeSelected === expType" value="{{expType}}">{{expType}}</option>
        </select>
      </label>
      <!-- <label class="item item-input item-select" ng-show="expensiveTypeSelected === 'Colectiva'">
        <div class="input-label">Percentagem</div>
        <select ng-model="percentageTypeSelected">
          <option ng-repeat="percType in percentageTypes" value="{{percType}}">{{percType}}</option>
        </select>
      </label> -->
      <label class="item item-input item-select" ng-show="expensiveTypeSelected === 'Colectiva'">
        <div class="input-label">Descrição</div>
        <select ng-model="descriptionSelected">
          <option value="">-- Selecionar --</option>
          <option ng-repeat="desc in descriptions" value="{{desc}}">{{desc}}</option>
        </select>
      </label>
      <label class="item item-input" ng-show="expensiveTypeSelected == 'Individual'">
        <div class="input-label">Descrição</div>
        <input class="text-right" type="text" ng-model="descriptionSelected" placeholder="opcional">
      </label>
    </div>
    <!-- save data -->
   <button class="button button-full button-balanced" ng-click="Send()">Enviar</button>
  </ion-content>
</ion-view>
